@media only screen and (min-width: 1094px) {
  .big-wrapper p {
    width: 40%;
  }
}

@media only screen and (max-width: 1094px) {
  .big-wrapper p {
    width: 100%;
  }
}

.big-wrapper h2 {
  margin-top:3rem;
}

.big-wrapper {
  margin-bottom: 7rem;
}

.img-about-wrapper img, .img-buy-wrapper img {
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
  opacity: 0.2;
  transition: 0.2s ease-in;
}

.img-about-wrapper img {
  width: 30rem;
  height: 30rem;
}

.img-buy-wrapper img {
  height: 30rem;
}


.img-about-wrapper img:hover, .img-buy-wrapper img:hover {
  opacity: 1;
  cursor: pointer;
}

.img-about-wrapper, .img-buy-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img-about-wrapper {
  margin-top: 2rem;
}

.img-buy-wrapper {
  height: 50rem;
  overflow: auto;
}

@media only screen and (min-width: 1094px) {
  .img-buy-wrapper {
    width: 70%;
  }

  .buy-wrapper .info {
    width: 40%;
  }

  .buy-wrapper {
    margin-right: 3rem;
    display: flex;
  }
}

@media only screen and (max-width: 1094px) {
  .img-buy-wrapper {
    width: 100%;
  }

  .buy-wrapper {
    display: block;
  }
}

.buy-wrapper {
  margin-top: 2rem;
}

.buy-wrapper p {
  width: 80%;
}

.info button {
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  color: black;
  background-color: lightblue;
}
